<!--this has a sign up/login button for the user entrance page-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      <a href="/users/signup" class="btn">Sign Up</a>
      <a href="/users/login" class="btn">Login</a>
    </div>


    <%- include('../partials/footer') %>
  </body>
</html>
