<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>User Profile</h1>
  <!--placeholders that will be replaced with actual
  username and email when rendering the view-->
  <h2>Welcome, <%= currentUser.username %>!</h2>
  <p>Email: <%= currentUser.email %></p>
  <!--- more details to be added for the future-->
  
</body>
</html>